  
<div class="container">

<div class="col-xs-12 text-center">
	<h3>Before and After</h3>
</div>
<div class="col-xs-12 text-center">
	<div class="col-xs-5">
		<%= image_tag "old.jpeg" %>
	</div>
	<div class="col-xs-1">
		<h1>|</h1>
	</div>
	<div class="col-xs-5">
		<%= image_tag "new.jpeg" %>
	</div>
</div>
</div>
