<h1>Rubazzle: </h1>  
<div class="container">
<div class="col-xs-12">
	<div class="col-xs-3">
		<%= image_tag "rubies1.png" %>
	</div>
	<div class="col-xs-1">
		<h1>+</h1>
	</div>
	<div class="col-xs-3">
		<%= image_tag "macs1.jpeg" %>
	</div>
	<div class="col-xs-1">
		<h1>=</h1>
	</div>
	<div class="col-xs-3">
		<%= image_tag "rubazzle.jpeg" %>
	</div>

</div>
</div>