<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.input :cc %>
    <%= f.input :cvv %>
    <%= f.input :expiration %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
