<div class="col-xs-12 text-center">

    <a href="https://twitter.com/rubazzle" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @rubazzle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>