<%# add navigation links to this file %>

<%# Left justified items %>				 
<ul class="nav navbar-nav navbar-left">
	<% if user_signed_in? %>
  	<li class="nav"><%= link_to 'Compare', before_after_compare_path %>
  	</li>
	<li>
		<%= link_to 'Order', new_order_path %>
	</li>

	<% end %>					
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Logout ('+current_user.name+')', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
  <% if user_signed_in? %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>

</ul>

